.vscode/**
.vscode-test/**
.vscode-test.mjs
.github/**
src/**
out/**
**/*.spec.*
**/*.test.*
examples/**
plugin/**
node_modules/**
coverage/**
scripts/**
docs/**
esbuild.mjs
tsconfig.json
tsconfig.test.json
vitest.config.ts
.gitignore
.gitattributes
**/.DS_Store
.prettierrc
.prettierignore
**/*.map
