.vscode/**
.github/**
src/**
**/*.spec.*
examples/**
plugin/**
node_modules/**
coverage/**
scripts/**
docs/**
esbuild.mjs
tsconfig.json
vitest.config.ts
.gitignore
.gitattributes
**/.DS_Store
.prettierrc
.prettierignore
**/*.map
